---
layout: default
title: Home
---
<div class="section-container light flex-container-col top-content">
	<section id="banner">
    {% capture banner-text %}{% include banner-text.md %}{% endcapture %}
    {{ banner-text | markdownify }}	
		<a class="thick-underline" href="{{ site.url }}/about.html">More About Me</a>
	</section>
</div>
<div class"transition-light-dark">
	<div class="triangle-bottom-right"></div>
</div>
<div class="section-container dark flex-container-col">
  <div class="spacer"></div>
	<section id="services">
    {% capture services-short %}{% include services-short.md %}{% endcapture %}
    {{ services-short | markdownify }}
		<a class="thick-underline" href="{{ site.url }}/services.html">Learn More</a>
	</section>
	<hr>
	<section id="projects">
		<h1>Examples</h1>
    {% for post in site.posts %}
      {% for category in post.categories %}
        {% if category == "projects" %}
          {% include project-preview.html 
            title=post.title
            url=post.url
            img=post.img
            excerpt=post.excerpt
          %}
        {% endif %}
      {% endfor %}
    {% endfor %}
	</section>
	<hr>
	<section id="contact">
		<h1>Contact Me</h1>
		<p>Please use the form below to get in touch!</p>
	  {% include contact-form.html %}	
	</section>
</div>
