---
layout: default
title: Home
---
<div class="section-container light flex-container-col top-content">
	<section id="banner">
		<h1>Hello!</h1>
		<p>I'm Shohei Shibata, a freelance web developer based in Dayton, Ohio USA.</p>
		<a class="thick-underline" href="./about.html">More About Me</a>
	</section>
</div>
<div class"transition-light-dark">
	<div class="triangle-bottom-right"></div>
</div>
<div class="section-container dark flex-container-col">
	<section id="services">
		<h1>All Your Website Needs</h1>
		<p>Do you run a small business or a community organization? Are you looking to start a personal blog? I focus on creating websites for people like you, whether it's an entire website built from scratch, fixing up the existing one, or anything in between.</p>
		<p>My goal is not only to provide you a clean, pleasant and highly functional website at the end, but also to give you a painless and worry-free experience in working with a web developer.</p>
		<a class="thick-underline" href="./services.html">Learn More</a>
	</section>
	<section id="projects">
		<h1>Examples</h1>
    {% for post in site.posts %}
      {% for category in post.categories %}
        {% if category == "projects" %}
          {% include project-preview.html 
            title=post.title
            url=post.url
            img=post.img
            excerpt=post.excerpt
          %}
        {% endif %}
      {% endfor %}
    {% endfor %}
	</section>
	<hr>
	<section id="contact">
		<h1>Contact Me</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	  {% include contact-form.html %}	
	</section>
</div>
