<nav>
  <div id="logo-container">
    <a href="{{ site.url }}/index.html"><img id="logo-img" src='{{ site.url }}/assets/img/Logo.png'></a>
  </div>
	<div id="nav-menu">
		<label for="nav-menu-mobile-toggle" onclick="toggleNav()">
			<div id="nav-menu-mobile-icon">
				<div id="nav-icon-mobile-open"><i class="fas fa-bars"></i></div>
				<div id="nav-icon-mobile-close"><i class="fas fa-times"></i></div>
			</div>
		</label>
		<input type="checkbox" id="nav-menu-mobile-toggle">
		<div id="nav-menu-list">
			<ul>
				<li><h5 class="nav-item"><a href="{{ site.url }}/index.html">Home</a></h5></li>
				<li><h5 class="nav-item"><a href="{{ site.url }}/services.html">Services</a></h5></li>
				<li><h5 class="nav-item"><a href="{{ site.url }}/projects.html">Projects</a></h5></li>
				<li><h5 class="nav-item"><a href="{{ site.url }}/about.html">About</a></h5></li>
				<li><h5 class="nav-item"><a href="{{ site.url }}/contact.html">Contact</a></h5></li>
			</ul>
		</div>			
	</div>
</nav>
