<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shohei Shibata | {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="./assets/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="./assets/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="./assets/css/main.css">
		<script src="./assets/js/main.js"></script>
	</head>
	<body>
		{% include nav.html %}
		<main class="flex-container-col">
			{{ content }}	
		</main>
		{% include footer.html %}		
	</body>
<html>
